body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.login-container {
  background: linear-gradient(pink, purple); /* Purple background */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 300px;
  background: #ffffff1c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.input-group {
  margin-bottom: 20px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
}

.input-group input {
  width: 100%;
  padding: 10px 0px;
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  /* border-radius: 5px; */
}

.remember-me {
  margin-bottom: 20px;
}

.forgot-password {
  text-align: right;
  margin-bottom: 20px;
}

button {
  width: 100%;
  padding: 10px;
  background: #800080; /* Purple background */
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #a000a0; /* Darker purple background on hover */
}
